/* style for styleBio.html */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(216, 205, 205);
    display: flex;
    justify-content: space-evenly;
  }
  li {
    float: left;
    margin: .5%;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-family: "Awesome Season Personal Use";

    
  }
  
  li a:hover {
    background-color:white;
    color: black;
  }

  .active {
    background-color: rgb(0, 0, 0);
  }
img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    display: block;
    opacity: .4;
    border: solid;
    border-color: #111;
}

h1{
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    font-family: "Epicentrum";
    font-weight: bold;
    font-size: 18px;
    color: black;
}
#block{
    display: block;
    background-color: white;
}
  body{
    padding-bottom: 10px;
  }