/* style for index.html */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(216, 205, 205);
    display: flex;
    justify-content: space-evenly;
  }
  li {
    float: left;
    margin: .5%;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-family: "Awesome Season Personal Use";
    
  }
  
  li a:hover {
    background-color:white;
    color: black;
  }

  
  .active {
    background-color: #111;
  }
  h1{
      text-align: center;
      font-family: "Awesome Season Personal Use";
      font-size: 75px;
      margin-top: 3%;
  }
  img{
      width: 45%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  body{
    padding-bottom: 100px;
  }